# Inferential statistics

The dataset used contains the statistics from the WNBA players for the 2016-2017 season.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 100)

### Explore and clean

In [2]:

wnba = pd.read_csv('/Users/nelly/dataV2-labs/module-2/M2-mini-project2/data/wnba.csv')

In [3]:


wnba.isnull().sum()

Name            0
Team            0
Pos             0
Height          0
Weight          1
BMI             1
Birth_Place     0
Birthdate       0
Age             0
College         0
Experience      0
Games Played    0
MIN             0
FGM             0
FGA             0
FG%             0
3PM             0
3PA             0
3P%             0
FTM             0
FTA             0
FT%             0
OREB            0
DREB            0
REB             0
AST             0
STL             0
BLK             0
TO              0
PTS             0
DD2             0
TD3             0
dtype: int64

In [5]:

bmi_nan= wnba[(wnba['BMI'].isnull()==True)]

# weight_nan # the same index 91
# bmi_nan # index 91

In [ ]:


wnba.shape # 143 rows or len(wnba.index)

nan_perc = 1*100/143

In [ ]:

wnba.dropna()
wnba.shape # ok just one low less

### Missing values

In [ ]:

# Maybe when we can calculate a missing value using other values present in the df
# When we have a lot of NaN values and it will affect the analysis

In [ ]:

wnba.dtypes

In [ ]:
# To change Weight from object to int we need to replace nan for zero
# weight_nan= wnba[(wnba['Weight'].isnull()==True] = 0

wnba['Weight'].loc[wnba['Weight'].isnull]
wnba['Weight'].astype(int)
#wnba['Weight'] = wnba['Weight'].apply(np.int64)

**Check for outliers

In [ ]:


wnba.describe()


We have a lot of min values zero or really low with a max pretty high : 
3PM (0-88),3PA(0-225), 3P%(0-88), FTM (0-168),FTA (0-186),FT%(0-100),OREB5(0-113),DRB (0-226),AST(0-206),PTS (0-584)
it would be interesting to see:

Does the mx values belong to the same player?, how are they distributed among the players?

What is the relation between those hight values and the other columns?

Are they the result of going to the same college?, the games played?, their age and physical condition?

**Save the cleaned data to a csv

In [ ]:


wnba.to_csv('/Users/nelly/dataV2-labs/module-2/M2-mini-project2/data/wnba_clean.csv', index=False)